html 
  head
    title Home


  body

    if loginStatus 
      a(href="http://localhost:3000") Home    
      a(href="http://localhost:3000/users") Users   
      a(href="http://localhost:3000/orderform") Order form
      a(href="http://localhost:3000/users/" + userID) User profile
      button(type="button" onclick="logoutSubmit()") Logout
      br
      br
      h1 Welcome #{loginUser}!

    else
      a(href="http://localhost:3000") Home    
      a(href="http://localhost:3000/users") Users   
      a(href="http://localhost:3000/register") Registration 
      br
      label(for="loginUsername")   Username : 
      input(type="text" name="username" id="loginUsername" required)
      label(for="loginPassword")   Password : 
      input(type="password" name="password" id="loginPassword" required) 
      button(type="button" onclick="loginSubmit()") Login
      br
      br
      h1 Welcome!

    script(src="/logout.js")
    script(src="/login.js")

      
    